body {
    padding: 0;
    margin: 0;
    height: 100vh; 
    background-color: #f0f0f0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}


#map {
    position: relative; 
    z-index: 1;
}

.mapTitle, .mapDescription, .info, .mapCombo, .leaflet-control-layers-list, li, h1 {
    font-family: "Geist Mono", monospace;
    color:#162A2C;
}

h1 {
    font-size: 20px;
    margin: auto;
}

.mapTitle {
    font-size: 20px;
    opacity: 1;
}

.mapDescription, .info {
    font-size: 16px;
}

.mapDescription {
    opacity: 1;
}

.mapCombo {
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    outline-style: none;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
}

.location {
    position:absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 120px;
    border-radius: 2px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-left: 10px;
    
}

#titleContainer {
    position: absolute;
    border-radius: 10px;
    border-color: white;
    top: 0;
    left: 10px; 
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    z-index: 10; 
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.leaflet-control-minimap .leaflet-interactive {
    stroke: #567C8D !important; /* Change the outline color */
    fill: lightskyblue !important; /* Change the fill color */
    stroke-width: 4px; /* Change the thickness */
}

.info {
    padding: 8px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

ul {
    list-style: none;
}


.bottom-right {
    position: absolute;
    top: 10px;
    right: 5px; 
    z-index: 10;
    background:  rgba(255,255,255,0.8);
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 70px; 
}

/*Trying to style the layer control*/
.leaflet-control-layers {
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7); 
    border: 2px solid #567C8D;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

/* Style the layer list */
.leaflet-control-layers-list {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px; 
    font-size: 14px; 
}

/*Styling the legend*/
li {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right:10px;
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: absolute; 
    right: 15px;
    top: 250px;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 200px; 
    z-index: 10;
}

/* Media Query for smaller screens (phones) */
@media (max-width: 768px) {
    #titleContainer {
        top:5px;
        left: 2px;
        width: 80%;
        padding: 8px; 
        
    }

    .mapTitle {
        font-size: 16px;
    }

    .mapDescription, .info {
        font-size: 12px; /* Reduce font size */
    }

    .bottom-right {
        display: none;
    }

}

